################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/friend-analysis-real-time/v16
/.vs
/Fart.Core/.vs/Fart.Core/v16
/Fart.Core/Fart.Common/obj
/Fart.Core/Fart.Common/bin/Debug/netcoreapp3.0
/Fart.Core/.vs/Fart.Core/DesignTimeBuild
/Fart.Core/Fart.Web/obj
/Fart.Core/Fart.Web/bin/Debug/netstandard2.0
/Fart.Core/.vs/Fart.Core/config
/Fart.Core/Fart.Desktop/obj
/Fart.Core/Fart.Desktop/bin/Debug/netcoreapp3.0
/src/Fart.Core/.vs/Fart.Core
/src/Fart.Core/Fart.Common/bin/Debug/netcoreapp3.0
/src/Fart.Core/Fart.Common/obj
/src/Fart.Core/Fart.Desktop/obj
/src/Fart.Core/Fart.Web/obj
/src/Fart.Core/Fart.Common/bin
/src/Fart.Core/Fart.Desktop/bin
/src/Fart.Core/Fart.Web/bin/x64/Release/netstandard2.0
/src/Fart.Core/Fart.Web/Properties/PublishProfiles
/Fart.Web.Client/bin/Release/netstandard2.0
/Fart.Web.Client/obj
/Fart.Web.Server/bin/Release/netcoreapp3.0
/Fart.Web.Server/obj
*.user
/Fart.Web.Shared/bin/Release/netstandard2.0
/Fart.Web.Shared/obj
