################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/friend-analysis-real-time/v16
/.vs
/Fart.Core/.vs/Fart.Core/v16
/Fart.Core/Fart.Common/obj
/Fart.Core/.vs/Fart.Core/DesignTimeBuild
